@import '../../../styles';

mat-card {
  max-width: calc(5rem * 5 + 0.25rem * 5 + 32px + 5 * 0.25rem);
}

.card {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0.25rem;
}

.center {
  @include center;
}

.header {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
