@import '../../../styles';

mat-card {
  max-width: calc(5rem * 5 + 0.25rem * 5 + 32px + 5 * 0.25rem);
}

.card {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0.25rem;
}

.center {
  @include center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.letters {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.footer {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.selected {
  display: flex;
  align-items: center;
  margin: 0 0.4rem 0 auto;
  > div {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: map-get($bingo-primary, 300);
    margin-right: 0.2rem;
  }
}

.playing {
  display: flex;
  align-items: center;
  > div {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border: 0.2rem solid white;
    margin-right: 0.2rem;
  }
}
