@import '../../../styles.scss';

.wrapper {
  @include center;
  margin: auto;
  max-width: 488px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.called {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: #303030;
  z-index: 10;
}

.card + .card {
  margin-top: 3rem;
}
