@import '../../../../styles';

.center {
  @include center;
}

.space {
  @include center;
  width: 5rem;
  height: 5rem;
  border: 0.25rem solid;
  border-color: map-get($bingo-primary, 500);
  cursor: pointer;
  font-size: 3rem;
  &:hover {
    background-color: map-get($bingo-accent, 300);
  }
  &.selected {
    background-color: map-get($bingo-primary, 300);
    color: mat-contrast($bingo-primary, 300);
  }
  &.free {
    font-size: 1rem;
    border-color: map-get($bingo-primary, 500);
    &:hover {
      border-color: map-get($bingo-primary, 500);
    }
  }
  &.disabled {
    cursor: initial;
    &:hover {
      background-color: initial;
    }
    &.selected {
      background-color: map-get($bingo-primary, 300);
      color: mat-contrast($bingo-primary, 300);
    }
  }
}

.playing {
  border-color: white;
  // &.selected {
  //   border-color: transparent;
  // }
}
